<div class="jumbotron" style="background-color: #ffffff">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><img src="/Images/Logo.jpg" width="300" height="300" /></div>
        <div class="col-md-4" style="display: table-cell; vertical-align: middle;">
            <img src="/Images/cloudbackup.jpg" />
            <h2>Your stuff, anywhere</h2>
            <p>
                <a style="text-decoration: line-through" class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Don't need to log in</a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>