@using NSACloudService.DL
@model IEnumerable<NSACloudService.DL.MyContact>

@{
    ViewBag.Title = "title";
}
<div class="page-header">
    <h1>My Contacts</h1>
</div>

<div class="row">
    <div class="col-md-3"><img src="/Images/Logo.jpg" width="150" height="150" class="img-thumbnail" /></div>
    <div class="col-md-9">
        <div class="media-list">
            @foreach (MyContact contact in Model)
            {
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="/Images/@contact.Image" alt="@contact.Name" height="75" width="75">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@contact.Name</h4>
                        <a href="mailto:@contact.Mail">@contact.Mail</a>
                        @if (!contact.IsOnline.HasValue)
                        {
                            <div style="color: gray">unknown</div>
                        }
                        else
                        {
                            if (contact.IsOnline.Value)
                            {
                                <div style="color: green">online</div>
                            }
                            else
                            {
                                <div style="color: red">offline</div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>