@model IEnumerable<NSACloudService.DL.MyFile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <thead>
        <tr>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.Name</td>
                <td>@Html.ActionLink("E-mail to friend", "SendLink", new {email = "obama@us.gov", myFileId = file.Id})</td>
            </tr>
        }
    </tbody>
</table>
